
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
.doc{
    margin-top: 100px;   
    padding-top: 50px;
    height: 100%;
    background-color: #e6f8ed;
}

.appointment-area{
    margin-top: 20px;
    height: 100%;
    background-color: #e6f8ed;
}